# =====================================
# IDE Files
# =====================================
.idea/
.vscode/

# =====================================
# Completed Projects
# =====================================
Capstone_InterviewTracker/
PalakMeena_java_training/
PalakMeena_python_training/

# =====================================
# IntelliJ Project Files
# =====================================
*.iml

# =====================================
# Python
# =====================================
**/__pycache__/
**/*.pyc
**/.venv/
**/venv/

# =====================================
# Node
# =====================================
**/node_modules/

# =====================================
# Logs
# =====================================
**/logs/
**/*.log

# =====================================
# Environment Files
# =====================================
**/.env

# =====================================
# OS Files
# =====================================
.DS_Store
Thumbs.db